body {
    background-color: lightslategray;
    font-family: 'Times New Roman', Times, serif;
    display: flexbox;
    color: antiquewhite;
}

h3 {
    font-weight: bold;
}

li {
    margin: auto;
    opacity: 1;
    transition-duration: 3s;
    transition-property: opacity;
}
.grassType {
    color: greenyellow;
}
.fireType {
    color: red;
}
.waterType {
    color: cyan;
}
.fade {
    opacity: 0;
}


#linkHeader {
    margin: auto;
    display: inline;
    text-decoration: underline;
}

a:hover {
    color: coral;
}
.nav-link:hover {
    color: coral;
}

th {
    width: 50%;
    padding-left: 5px;
}

td {
    width: 50%;
    padding-left: 5px;
}