body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 20px;
    font-weight:bold;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover {
    color: crimson;
    text-decoration: underline;
}

p{
    font-size: 12pt;
}
    
